@import 'common/variables';
// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap';
@import 'bower_components/font-awesome/scss/font-awesome'; // endbower
@import 'common/global';

//Colors
$red: #f00;
$yellow: #ff0;

//Variables
$bg-color: #fafafa;
$txt-color: #333;
$txt-caption: #a0a0a0;

.container {
  display: none;
}

body {
  background: $bg-color;
  color: $txt-color;
  padding-top: 2em;
}

footer {
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
}

.selectize-control.contacts {
  .selectize-input > div {
    background-color: $brand-primary;
    border-radius: 999px;
    color: $bg-color;
    -webkit-font-smoothing: auto;
    font-weight: normal;
    padding: 1px 10px;
  }

  .selectize-input > div {
    .email {
      opacity: .8;
    }

    .name + .email {
      margin-left: 5px;
    }

    .email:before {
      content: '<';
    }

    .email:after {
      content: '>';
    }
  }

  .selectize-dropdown .caption {
    color: $txt-caption;
    display: block;
    font-size: 1em;
  }
}

.fa-heart {
  transition: all .2s ease;

  &:hover {
    color: $red;
  }
}

.fa-trophy {
  transition: all .2s ease;

  &:hover {
    color: $yellow;
  }
}

.btn-group-lg > .btn,
.btn-lg {
  font-size: 2rem;
  font-weight: bold;
}

.grand-prix .label {
  font-weight: bold;
}

.cup-icon {
  height: 50px;
  margin-right: 1em;
  width: 50px;
}
